<% include header %>
<body>

<div class="modal -wizard">
  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">1</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Genel Bilgiler</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="Ad" class="w100">
          <input type="" name="" placeholder="Soyad" class="w100">
          <input type="" name="" placeholder="Email" class="w100">
          <input type="" name="" placeholder="Telefon" class="w100">
          <input type="" name="" placeholder="Doğum Tarihi" class="w100">
          <input type="" name="" placeholder="CV Upload" class="w100">

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">2</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Hangi uzmanlık olduğunu düşünüyorsun</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="Category" class="w100">
          <ul class="pillContainer">
            <li>System Admin</li>
            <li>Data Scientist</li>
            <li class="active">Developer</li>
            <li>Business Analist</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">2</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Hangi uzmanlıklara sahipsin</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <ul class="pillContainer">
            <li>JAVA</li>
            <li class="active">.NET</li>
            <li>C++</li>
            <li>Javascript</li>
          </ul>
          <input type="" name="" placeholder="or else?" class="w100">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Yabancı Dil Bilgilerim</p>
      </div>
      <div class="formContainer">
        <input type="" name="" placeholder="free area" class="w75">
        <button class="w25 -primaryButton">Add</button>

      <div class="row">
          <ul class="bulletContainer">
            <li>İngilizce</li>
            <li>Seviyesi</li>
          </ul>
      </div>
    </div>
    </div>
  </div>


  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Geçmiş İş Bilgilerin</p>
      </div>
      <div class="formContainer">
        <input type="" name="" placeholder="free area" class="w75">
        <button class="w25 -primaryButton">Add</button>

      <div class="row">
          <ul class="bulletContainer">
            <li>Firma İsmi</li>
            <li>Title</li>
            <li>Başlangıç ve Bitiş Tarihi</li>
          </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Geçmiş Eğitim Bilgilerim</p>
      </div>
      <div class="formContainer">
        <input type="" name="" placeholder="free area" class="w75">
        <button class="w25 -primaryButton">Add</button>

      <div class="row">
          <ul class="bulletContainer">
            <li>Üniversite Adı</li>
            <li>Bölüm</li>
            <li>Başlangıç ve Bitiş yılı</li>
          </ul>
      </div>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">5</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Şu anki lokasyonum</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="free area" class="w100">
          <ul class="pillContainer">
            <li class="active">istanbul</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p class="question">Tercih Ettiğim Location</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="free area" class="w100">
          <ul class="pillContainer">
            <li class="active">istanbul</li>
            <li class="active">ankara</li>
            <li class="active">londra</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">6</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Ülkeye Özel Extra Bilgiler</p>
      </div>

      <div class="row">
        <p class="questionSub"> Maaş Aralığı </p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="0" class="w25">
          <input type="" name="" placeholder="10000" class="w25">
        </div>
      </div>
      <div class="row">
        <p class="questionSub">Diğer </p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="free area" class="w75">
          <button class="w25 -primaryButton">Add</button>
          <ul class="bulletContainer">
            <li>Askerlik Tamamlanmış Olmalı</li>
            <li>Adli Sicil Kaydı İsteniyor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="actionBar">
      <div class="action -left">cancel</div>
      <div class="action -right -primary">Create CV</div>
    </div>
  </div>

</div>


</body>
<% include footer %>
