<% include header %>
<script src="/javascripts/candidate.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<body>

<div class="modal -wizard">
  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">1</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Genel Bilgiler</p>
      </div>
      <div class="row">
        <div class="formContainer" id="resumeBasics">
          <input type="" name="" id="name" placeholder="Ad" class="w100">
          <input type="" name="" id="surname" placeholder="Soyad" class="w100">
          <input type="" name="" id="email" placeholder="Email" class="w100">
          <input type="" name="" id="phone" placeholder="Telefon" class="w100">
          <input type="" name="" id="birthDate" placeholder="Doğum Tarihi" class="w100">
          CV Upload  <input type="file" name="" placeholder="CV Upload" class="w100">

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">2</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Hangi uzmanlık olduğunu düşünüyorsun</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputExpert" placeholder="Category" class="w100">
          <ul class="pillContainer" id="resumeExpert">
            <li id="systemAdmin" onclick="changeStatus('systemAdmin')">System Admin</li>
            <li id="dataScientist" onclick="changeStatus('dataScientist')">Data Scientist</li>
            <li id="developer" onclick="changeStatus('developer')" class="active">Developer</li>
            <li id="analyst" onclick="changeStatus('analyst')" >Business Analyst</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">2</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Hangi uzmanlıklara sahipsin</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <ul class="pillContainer" id="resumeSkill">
            <li id="java" onclick="changeStatus('java')">JAVA</li>
            <li id="net" onclick="changeStatus('net')" class="active">.NET</li>
            <li id="c" onclick="changeStatus('c')">C++</li>
            <li id="javascript" onclick="changeStatus('javascript')">Javascript</li>
          </ul>
          <input type="" name="" id="inputSkill" placeholder="or else?" class="w100">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Yabancı Dil Bilgilerim</p>
      </div>
      <div class="formContainer">
        <input type="" name="" placeholder="free area" class="w75" id="newLanguage">
        <button class="w25 -primaryButton" onclick="addLanguage();">Add</button>

        <div class="row">
          <ul class="bulletContainer" id="resumeLanguage">
            <li id="language">İngilizce</li>
            <li id="language">Almanca</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Geçmiş İş Bilgilerin</p>
      </div>
      <div class="formContainer">
        <input type="" name="" placeholder="free area" class="w75">
        <button class="w25 -primaryButton">Add</button>

        <div class="row">
          <ul class="bulletContainer">
            <li>Firma İsmi</li>
            <li>Title</li>
            <li>Başlangıç ve Bitiş Tarihi</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Geçmiş Eğitim Bilgilerim</p>
      </div>
      <div class="formContainer">
        <input type="" name="" placeholder="free area" class="w75">
        <button class="w25 -primaryButton">Add</button>

        <div class="row">
          <ul class="bulletContainer">
            <li>Üniversite Adı</li>
            <li>Bölüm</li>
            <li>Başlangıç ve Bitiş yılı</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">5</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Şu anki lokasyonum</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputLocation" placeholder="free area" class="w100">
          <ul class="pillContainer" id="resumeLocation">
            <li id="nistanbul" onclick="changeStatus('nistanbul')" class="active">istanbul</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p class="question">Tercih Ettiğim Location</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputPreferLocation" placeholder="free area" class="w100">
          <ul class="pillContainer" id="resumePreferLocation">
            <li id="istanbul" onclick="changeStatus('istanbul')" class="active">istanbul</li>
            <li id="ankara" onclick="changeStatus('ankara')" class="active">ankara</li>
            <li id="londra" onclick="changeStatus('londra')" class="active">londra</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">6</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Ülkeye Özel Extra Bilgiler</p>
      </div>

      <div class="row">
        <p class="questionSub"> Maaş Aralığı </p>
      </div>
      <div class="row">
        <div class="formContainer" id="resumeSalary">
          <input type="" id="minSalary" name="" placeholder="0" class="w25">
          <input type="" id="maxSalary" name="" placeholder="10000" class="w25">
        </div>
      </div>
      <div class="row">
        <p class="questionSub">Diğer </p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputOther" placeholder="free area" class="w75">
          <button class="w25 -primaryButton" onclick="addOther()">Add</button>
          <ul class="bulletContainer" id="resumeOther">
            <li>Askerlik Tamamlanmış Olmalı</li>
            <li>Adli Sicil Kaydı İsteniyor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="actionBar">
      <div class="action -left">cancel</div>
      <div class="action -right -primary" onclick="saveResume();">Create CV</div>
    </div>
  </div>

</div>


</body>
<% include footer %>
