<% include header %>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Recruitans</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12 main">
            <h1 class="page-header">Dashboard</h1>
            <p>
            <h3 id="user"><%= user.username %></h3><br>
            </p>
            <form method="post" action="/upload" name="myForm" class="myForm" enctype="multipart/form-data">
                <fieldset>
                    <legend>Upload single file</legend>
                    <input type="file" id="uploadFile" name="uploadFile">
                </fieldset>
                <button id = "btn1" type="submit">Upload</button>
                <button type="button">Cancel</button>
            </form>
            </p>
            <a class="link" href="/logout" onclick="disconnect();">Logout</a><br>
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span> Chat
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li><a href="http://www.jquery2dotnet.com"><span
                                                        class="glyphicon glyphicon-refresh">
                                    </span>Refresh</a></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span
                                                        class="glyphicon glyphicon-ok-sign">
                                    </span>Available</a></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span
                                                        class="glyphicon glyphicon-remove">
                                    </span>Busy</a></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span
                                                        class="glyphicon glyphicon-time"></span>
                                                Away</a></li>
                                        <li class="divider"></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span
                                                        class="glyphicon glyphicon-off"></span>
                                                Sign Out</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body" id="contents">
                                <ul class="chat" id="chat_scroll">
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="chat-input" type="text" class="form-control input-sm"
                                           placeholder="Type your message here..."/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" >
                                        Send</button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="application/javascript">
    $(document).ready(function(e) {
        $(window).keydown(function(e){
            if(e.keyCode == 13) {
                $('#btn-chat').click();
            }
        });

        function addMsg(msg){
            $("#contents").append(msg);
            $("#contents").scrollTop($("#contents")[0].scrollHeight);
        }

        var socket = io();
        socket.on('connect', function() {
            //alert('connected to server!');
        });
        socket.on('chatMessage', function(message) {
            //alert(message.text);

            var time = new Date().toLocaleString();

            var username = $('#user').text()

            var liDirection = "right";
            var imageDirection = "pull-right";
            var imageUrl = "http://placehold.it/50/FA6F57/fff&text=ME";
            var strongClass = imageDirection;
            var small = "";

            if(username  != message.username){
                liDirection = "left";
                imageDirection = "pull-left";
                imageUrl = "http://placehold.it/50/55C1E7/fff&text=U";
                strongClass = "";
                small = "pull-right"
            }

            addMsg('<li class="' + liDirection + 'clearfix">'+
                '<span class="chat-img '+ imageDirection +'"><img src='+imageUrl+' alt="User Avatar" class="img-circle"/>'+
                '&nbsp;&nbsp;</span>'+
                '<div class="chat-body clearfix">'+
                '<div class="header">'+
                '<small class="'+small+' text-muted"><span class="glyphicon glyphicon-time"></span> '+time+' </small>'+
                '<strong class="'+strongClass+' primary-font">'+message.username+'&nbsp;&nbsp;</strong>'+
                '</div>'+
                '<p>' + message.text + '</p>'+
                '</div>'
            );
        });

        $("#btn-chat").click(function () {
            sendMessage();
        })

        function sendMessage() {
            socket.emit('chatMessage',{text:document.getElementById("chat-input").value})
            $('#chat-input').val('');
        }

        function disconnect() {
            socket.disconnect();
        }
    });
</script>
<% include footer %>