<% include header %>
<body>
<h1>Welcome to Spartans</h1><br>
</p>
<a class="link" href="/signup">Signup</a><br>
<a class="link" href="/login">Login</a><br>
<a class="link" href="/candidate">Candidate</a><br>
<a class="link" href="/job">Job</a><br>
</body>
<% include footer %>
