<% include header %>
<script src="/javascripts/job.js"></script>
<body>

<div class="modal -wizard">

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">1</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Aradığınız aday hangi sektör / departman için</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" id="inputDepartment" name="" placeholder="Category" class="w100">
          <ul class="pillContainer" id="jobDepartment">
            <li id="perakende" onclick="changeStatus('perakende')">Perakande</li>
            <li id="insaat" onclick="changeStatus('insaat')" >İnşaat</li>
            <li id="it" onclick="changeStatus('it')" class="active">IT</li>
            <li id="pazarlama" onclick="changeStatus('pazarlama')" >Pazarlama</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">1</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Aranan kişinin temel görev tanımı nedir?</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputCategory" placeholder="Category" class="w100">
          <ul class="pillContainer" id="jobCategory">
            <li id="systemAdmin" onclick="changeStatus('systemAdmin')">System Admin</li>
            <li id="dataScientist" onclick="changeStatus('dataScientist')">Data Scientist</li>
            <li id="developer" onclick="changeStatus('developer')" class="active">Developer</li>
            <li id="businessAnalist" onclick="changeStatus('businessAnalist')">Business Analist</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">2</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Hangi uzmanlıklara sahip olmalı?</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <ul class="pillContainer" id="jobSkills">
            <li id="java" onclick="changeStatus('java')">JAVA</li>
            <li id="net" onclick="changeStatus('net')" class="active">.NET</li>
            <li id="cpp" onclick="changeStatus('cpp')">C++</li>
            <li id="javascript" onclick="changeStatus('javascript')">Javascript</li>
          </ul>
          <input type="" name="" id="inputSkills" placeholder="or else?" class="w100">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">3</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">İstediğin yetkinlikler?</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputPerfection" placeholder="free area" class="w75">
          <button class="w25 -primaryButton" onclick="addPerfection()">Add</button>
          <ul class="bulletContainer" id="jobPerfection">
            <li id="perfection">İyi derecede ingilizce bilen</li>
            <li id="perfection">Dinamik, sonuç odaklı ve takipçi</li>
            <li id="perfection">Takım çalışmasına yatkın</li>
            <li id="perfection">Yoğun ve esnek iş temposunda uyum gösterebilecek</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">4</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Genel Nitelikler ( İşin tanımı ):</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputQualification" placeholder="free area" class="w75">
          <button class="w25 -primaryButton" onclick="addQualification()">Add</button>
          <ul class="bulletContainer" id="jobQualification">
            <li id="qualification">Yazılım proje yönetimi konusunda en az 3 yıl deneyimi olan</li>
            <li id="qualification">Proje yönetimi standart ve metodolojilerine hakim</li>
            <li id="qualification">Agile proje ekiplerinde yer almış</li>
            <li id="qualification">lletişim, analiz, raporlama ve sunum becerileri güçlü</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">5</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Location</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputLocation" placeholder="free area" class="w100">
          <ul class="pillContainer" id="jobLocation">
            <li id="istanbul" onclick="changeStatus('istanbul')" class="active">istanbul</li>
            <li id="ankara" onclick="changeStatus('ankara')" class="active">ankara</li>
            <li id="londra" onclick="changeStatus('londra')" class="active">londra</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">6</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Lokasyona Özel Extra Bilgiler</p>
      </div>

      <div class="row">
        <p class="questionSub"> Maaş Aralığı </p>
      </div>
      <div class="row">
        <div class="formContainer" id="jobSalary">
          <input type="" id="minSalary" name="" placeholder="0" class="w25">
          <input type="" id="maxSalary" name="" placeholder="10000" class="w25">
        </div>
      </div>
      <div class="row">
        <p class="questionSub">Diğer </p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" id="inputOther" placeholder="free area" class="w75">
          <button class="w25 -primaryButton" onclick="addOther()">Add</button>
          <ul class="bulletContainer" id="jobOther">
            <li>Askerlik Tamamlanmış Olmalı</li>
            <li>Adli Sicil Kaydı İsteniyor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">7</li>
      </ul>
    </div>
    <div class="container">

      <div class="row">
        <p class="question">İşin Tahmini Bitmesi Gereken Hedef Tarihi</p>
      </div>
      <div class="row">
        <div class="calendarContainer">
          <ul class="calendar">
            <div class="month">Jun</div>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li class="-weekend">6</li>
            <li class="-weekend">7</li>
            <li class="-selected">8</li>
            <li class="-selected">9</li>
            <li class="-selected">10</li>
            <li class="-selected">11</li>
            <li class="-selected">12</li>
            <li class="-today">13</li>
            <li class="-selected">14</li>
            <li class="-selected">15</li>
            <li class="-final">16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li class="-weekend">20</li>
            <li class="-weekend">21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li class="-weekend">27</li>
            <li class="-weekend">28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
            <li class="-offMonth">1</li>
            <li class="-offMonth">2</li>
            <li class="-offMonth">3</li>
            <li class="-offMonth">4</li>
          </ul>
        </div>
        <div class="calendarContainer">
          <ul class="calendar">
            <div class="month">Jul</div>
            <li class="-offMonth">29</li>
            <li class="-offMonth">30</li>
            <li class="-offMonth">31</li>
            <li>1</li>
            <li>2</li>
            <li class="-weekend">3</li>
            <li class="-weekend">4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="-selected">8</li>
            <li class="-selected">9</li>
            <li class="-selected">10</li>
            <li class="-selected">11</li>
            <li class="-selected">12</li>
            <li class="-today">13</li>
            <li class="-selected">14</li>
            <li class="-selected">15</li>
            <li class="-final">16</li>
            <li class="-weekend">17</li>
            <li class="-weekend">18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li class="-weekend">24</li>
            <li class="-weekend">25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="-weekend">31</li>
            <li class="-weekend -offMonth">1</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="actionBar">
      <div class="action -left">cancel</div>
      <div class="action -right -primary" onclick="saveJob()">Create Position</div>
    </div>
  </div>

  <div class="container">
    <div class="multistepContainer">
      <ul class="multistep">
        <li class="active">8</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <p class="question">Position title</p>
      </div>
      <div class="row">
        <p class="questionSub">JAVA Developer</p>
      </div>
      <div class="row">
        <ul class="recruitanSelector">
          <li>
            <img src="https://unsplash.it/100/100?image=1027">
            <p class="recruitan">Gokhan Koc</p>
            <div class="rating">*</div>
            <a href="#" class="action -primary">Select</a>
          </li>
          <li>
            <img src="https://unsplash.it/100/100?image=1011">
            <p class="recruitan">Basak Uner</p>
            <div class="rating">*****</div>
            <a href="#" class="action -primary">Select</a>
          </li>
          <li>
            <img src="https://unsplash.it/100/100?image=856">
            <p class="recruitan">Sebgedullah Seydaoglu</p>
            <div class="rating">****</div>
            <a href="#" class="action -primary">Select</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <p class="questionSub -text-right -text-xs">show all recruitans</p>
      </div>
      <div class="row">
        <div class="formContainer">
          <input type="" name="" placeholder="recruitan name" class="w75">
          <button class="w25 -primaryButton">search</button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
<% include footer %>