<% include header %>

<div class = "container">
    <div class="wrapper">
        <form action="/login" method="post" role="form" id="loginForm">
            <h3>Please Login</h3><br>
            <input type="text" name="username" id="username" placeholder="Username" required="true" autofocus="" /><br>
            <input type="password" name="password" id="password" placeholder="Password" required="true"/><br>
            <a class="link" href="#">Lost your password?</a><br>
            <button id="loginButton" name="Submit" value="Login" type="Submit">Login</button>
        </form>
    </div>
</div>

<% include footer %>