<% include header %>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form class="form-login" action="/login" method="post" role="form" id="loginForm">
                <h2 class="form-login-heading">Please login</h2>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus oninvalid="this.setCustomValidity('you must fill username')">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <a class="link" href="#">Lost your password?</a><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>
<% include footer %>