<% include header %>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form class="form-position" action="/position" method="post" role="form" id="positionForm">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
                <input type="text" name="type" id="type" class="form-control" placeholder="Type" required>
                <input type="text" name="attributes" id="attributes" class="form-control" placeholder="Attributes" required>
                <input type="text" name="qualifications" id="qualifications" class="form-control" placeholder="Qualifications" required>
                <input type="text" name="description" id="description" class="form-control" placeholder="Description" required>
                <input type="text" name="location" id="location" class="form-control" placeholder="Location" required>

                <h4>Salary</h4>
                <input type="text" name="salaryMin" id="salaryMin" class="form-control" placeholder="Min" required>
                <input type="text" name="salaryMax" id="salaryMax" class="form-control" placeholder="Max" required>
                <h4>Military</h4>
                <label for="military" class="sr-only">military</label>
                <input type="text" name="military" id="military" class="form-control" placeholder="Military" required>

                <h4>Deadline</h4>
                Deadline Start Date :<input type="date" name="deadlineStart" id="deadlineStart" class="form-control" placeholder="Deadline Start Date" required>
                Deadline End Date : <input type="date" name="deadlineEnd" id="deadlineEnd" class="form-control" placeholder="Deadline End Date" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save Position</button><br>
            </form>
            <button class="btn btn-lg btn-success btn-block" type="submit" id="btnGetPosition">Get Position</button>

        </div>
    </div>
</div>
<div id="result"></div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script>

    $(document).ready(function(e) {
        $('#btnGetPosition').click(function () {
            $.ajax({url: "/position/getPosition", success: function(result){
                $('#result').text(JSON.stringify(result))

            }});
        })

    });
</script>
</body>
<% include footer %>