.container{
  @extend .relative-left;
  .row{
    @extend .relative-left;
    width: 100%;
  }
}
.modal{
  @extend .relative-left;
  /* temp settings */
  top:200px;
  margin-bottom: 500px;
  left: 12.5%;
  width: 600px;
}
.multistep{
  @extend .relative-left;
  li{ @extend .relative-left; }
  .active{ background-color: $active-step; }
}
.actionBar, .actionContainer{
  @extend .f100;
  @extend .relative-left;
  .action{
    position: relative;
    text-align: center;
  }
}
input, button{
  border:1px solid $input-border;
  border-radius: 4px;
  padding:5px;
  font-size: $font-md;
  &.-mandatory{ border:1px solid $input-mandatory; }
}
button{
  &.-primaryButton{
    border:1px solid $primary-color;
    background-color: $primary-color;
    color: white;
  }
}
.formContainer{
  @extend .relative-left;
}
.pillContainer{
  @extend .relative-left;
  li{
    @extend .relative-left;
    font-size: $font-xs;
    margin-right: 5px;
    padding:5px 10px;
    border-radius: 50px;
  }
}
.bulletContainer{
  @extend .relative-left;
  li{
    @extend .relative-left;
    font-size: $font-xs;
    padding:5px 10px;
  }
}
.calendarContainer{
  @extend .relative-left;
  padding:10px;
  margin:0.5%;
  .month{
    @extend .relative-left;
    @extend .f100;
    border-bottom: 1px solid $calendar-background;
    text-align: center;
    padding:10px 0px;
    font-size: $font-md;
  }
  .calendar{
    @extend .relative-left;
    width: $calendar-cell * 7;
    font-size: $font-xs;
    li{
      @extend .relative-left;
      width: $calendar-cell;
      height: $calendar-cell;
      line-height: $calendar-cell;
      text-align: center;
      background-color: white;
      &.-today{ background-color: $day-today; color: black; }
      &.-final{ background-color: $day-final; color: black; }
      &.-selected{ background-color: $day-selected; color: black; }
      &.-weekend{ background-color: $day-weekend; }
      &.-offMonth{ color: $day-offMonth; }
    }
  }
}
