@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext");
.-text-sm {
  font-size: 14px !important; }

.-text-xs {
  font-size: 12px !important; }

.relative-left, .container, .container .row, .modal, .multistep, .multistep li, .actionBar, .actionContainer, .formContainer, .pillContainer, .pillContainer li, .bulletContainer, .bulletContainer li, .calendarContainer, .calendarContainer .month, .calendarContainer .calendar, .calendarContainer .calendar li, .-wizard .multistepContainer, .-wizard .question, .-wizard .questionSub, .-wizard .recruitanSelector, .-wizard .recruitanSelector li, .-wizard .recruitanSelector li .recruitan, .-wizard .recruitanSelector li .rating {
  position: relative;
  float: left; }

.-left {
  float: left !important; }

.-right {
  float: right !important; }

.-text-right {
  text-align: right; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1;
  vertical-align: baseline;
  -webkit-overflow-scrolling: touch; }

ol, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none; }

a {
  text-decoration: none; }

select::-ms-expand {
  display: none; }

input:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: #aaa; }

:-moz-placeholder {
  color: #aaa;
  opacity: 1; }

/* Mozilla Firefox 4 to 18 */
::-moz-placeholder {
  color: #aaa;
  opacity: 1; }

/* Mozilla Firefox 19+ */
:-ms-input-placeholder {
  color: #aaa; }

input, textarea, select, button {
  position: relative;
  float: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

html, body, div, span, p, ol, ul, li, input, textarea, select, button {
  box-sizing: border-box; }

.w100, .-wizard .question, .-wizard .questionSub, .-wizard .recruitanSelector {
  width: 99%;
  margin: 0.5%; }

.w75 {
  width: 74%;
  margin: 0.5%; }
  @media (min-width: 1200px) {
    .w75 {
      width: 74%; } }
  @media (min-width: 992px) {
    .w75 {
      width: 74%; } }

.w70 {
  width: 69%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w70 {
      width: 99%; } }

.w66 {
  width: 65.666%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w66 {
      width: 99%; } }

.w60 {
  width: 59%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w60 {
      width: 99%; } }

.w50 {
  width: 49%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w50 {
      width: 99%; } }

.w45 {
  width: 44%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w45 {
      width: 99%; } }

.w33, .-wizard .recruitanSelector li {
  width: 32.333%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w33, .-wizard .recruitanSelector li {
      width: 99%; } }

.w30 {
  width: 29%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w30 {
      width: 99%; } }

.w25 {
  width: 24%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w25 {
      width: 99%; } }

.w20 {
  width: 19%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w20 {
      width: 49%; } }

.w10 {
  width: 9%;
  margin: 0.5%; }
  @media (max-width: 767px) {
    .w10 {
      width: 49%; } }

.f100, .actionBar, .actionContainer, .calendarContainer .month, .-wizard, .-wizard .container, .-wizard .container .container, .-wizard .multistepContainer .multistep, .-wizard .formContainer, .-wizard .bulletContainer, .-wizard .bulletContainer li, .-wizard .pillContainer, .-wizard .recruitanSelector li .recruitan, .-wizard .recruitanSelector li .rating {
  width: 100%; }

.f75 {
  width: 75%; }

.f50, .-wizard .actionBar .action {
  width: 50%; }

.f10 {
  width: 10%; }

.container .row {
  width: 100%; }

.modal {
  /* temp settings */
  top: 200px;
  margin-bottom: 500px;
  left: 12.5%;
  width: 600px; }

.multistep .active {
  background-color: #00bcd4; }

.actionBar .action, .actionContainer .action {
  position: relative;
  text-align: center; }

input, button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px; }
  input.-mandatory, button.-mandatory {
    border: 1px solid #f44336; }

button.-primaryButton {
  border: 1px solid #00bcd4;
  background-color: #00bcd4;
  color: white; }

.pillContainer li {
  font-size: 12px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 50px; }

.bulletContainer li {
  font-size: 12px;
  padding: 5px 10px; }

.calendarContainer {
  padding: 10px;
  margin: 0.5%; }
  .calendarContainer .month {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 0px;
    font-size: 16px; }
  .calendarContainer .calendar {
    width: 273px;
    font-size: 12px; }
    .calendarContainer .calendar li {
      width: 39px;
      height: 39px;
      line-height: 39px;
      text-align: center;
      background-color: white; }
      .calendarContainer .calendar li.-today {
        background-color: #00bcd4;
        color: black; }
      .calendarContainer .calendar li.-final {
        background-color: red;
        color: black; }
      .calendarContainer .calendar li.-selected {
        background-color: #2196f3;
        color: black; }
      .calendarContainer .calendar li.-weekend {
        background-color: rgba(0, 0, 0, 0.1); }
      .calendarContainer .calendar li.-offMonth {
        color: #ccc; }

.-wizard .container {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 50px 120px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .-wizard .container .container {
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none; }

.-wizard .multistepContainer {
  width: 50px; }
  .-wizard .multistepContainer .multistep .active {
    width: 45px;
    height: 45px;
    line-height: 41px;
    margin: 8px 0px 0px 8px;
    text-align: center;
    border-radius: 100%;
    font-weight: 400;
    font-size: 24px;
    color: #00bcd4;
    background-color: white;
    border: 2px solid #00bcd4; }

.-wizard .question {
  font-size: 20px;
  padding: 10px; }

.-wizard .questionSub {
  padding: 10px;
  font-size: 16px; }

.-wizard .formContainer {
  padding: 10px; }

.-wizard .bulletContainer {
  margin: 5px 0px; }
  .-wizard .bulletContainer li:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -3px;
    background-color: #00bcd4;
    width: 6px;
    height: 6px;
    border-radius: 100%; }
  .-wizard .bulletContainer li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px; }

.-wizard .pillContainer {
  margin: 5px 0px; }
  .-wizard .pillContainer li {
    background-color: #ccc; }
  .-wizard .pillContainer .active {
    background-color: #00bcd4;
    color: white; }

.-wizard .actionBar {
  box-shadow: 0px -20px 40px -20px rgba(0, 0, 0, 0.2); }
  .-wizard .actionBar .action {
    padding: 20px; }
  .-wizard .actionBar .-primary {
    background-color: #00bcd4;
    color: white; }

.-wizard .recruitanSelector {
  padding: 10px; }
  .-wizard .recruitanSelector li {
    text-align: center; }
    .-wizard .recruitanSelector li .recruitan, .-wizard .recruitanSelector li .rating {
      text-align: center; }
    .-wizard .recruitanSelector li img {
      border-radius: 100%; }
    .-wizard .recruitanSelector li .recruitan {
      padding: 5px; }
    .-wizard .recruitanSelector li .rating {
      padding: 5px; }
    .-wizard .recruitanSelector li a {
      color: white; }
  .-wizard .recruitanSelector .action {
    position: relative;
    margin: 0 auto;
    display: table;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 5px; }
    .-wizard .recruitanSelector .action.-primary {
      background-color: #00bcd4; }
